/*----------  Import custom SCSS-Bootstrap  ----------*/

@import "./../node_modules/bootstrap-scss/bootstrap";

/*----------------------  Vars  ---------------------*/

// Colors
$light-grey: #f3f3f3;
$yellow: #f8df1f;
$red: #ee252f;
$black: #080801;

// Fonts Details

/*----------------------  Mixins  ------------------*/

/*----------------------  Styles  ------------------*/

nav {
	background-color: $yellow;
	height: 100px;
	display: flex;
	justify-content: start;
	align-items: center;

	ul {
		list-style: none;
		padding: 0;
		margin: 0;
		display: flex;

		li > a {
			font-size: 18px;
			color: $black;
			margin-right: 40px;

			&:hover {
				color: $red;
			}

			@include media-breakpoint-down(sm) {
				font-size: 14px;
			}

			@include media-breakpoint-down(sm) {
				margin-right: 20px;
			}
		}

		@include media-breakpoint-down(sm) {
			justify-content: center;
		}
	}
}
