/*----------  Import custom SCSS-Bootstrap  ----------*/

@import "./../node_modules/bootstrap-scss/bootstrap";

/*----------------------  Vars  ---------------------*/

// Colors
$light-grey: #f3f3f3;
$yellow: #f8df1f;
$red: #ee252f;
$black: #080801;

// Fonts Details
$font-family: 'Roboto', sans-serif;

/*----------------------  Mixins  ------------------*/
@mixin img-overlay {
	position: relative;
	&:before {
		position: absolute;
		content: '';
		top: 0;
		bottom: 0;
		right: 0;
		left: 0;
		background-color: fade-out(#3b3838, .33);
	}
}
/*----------------------  Styles  ------------------*/

body {
	font-family: $font-family;
	font-weight: 500;
	color: $black;

	p {
		font-size: 16px;
		font-weight: 400;
		color: #050500;
		@include media-breakpoint-down(sm) {
			text-align: center;
		}
	}
}

button {
	background-color: $yellow;
	font-size: 18px;
	text-transform: uppercase;
	border-radius: 8px;
	padding: 10px 25px;
	border: 0 none;
	font-weight: 500;
	@include media-breakpoint-down(sm) {
		text-align: center;
		margin: 0 auto;
		display: block;
	}
}

nav {
	background-color: $yellow;
	height: 100px;
	display: flex;
	justify-content: start;
	align-items: center;

	ul {
		list-style: none;
		padding: 0;
		margin: 0;
		display: flex;

		li > a {
			font-size: 18px;
			color: $black;
			margin-right: 40px;

			&:hover {
				color: $red;
			}

			@include media-breakpoint-down(sm) {
				font-size: 14px;
			}

			@include media-breakpoint-down(sm) {
				margin-right: 20px;
			}
		}

		@include media-breakpoint-down(sm) {
			justify-content: center;
		}
	}
}

header {
	height: 50vh;
	background-color: $black;
	display: flex;
	align-items: center;
	z-index: 5;

	&.hero {
		@include img-overlay;
		background-image: url(./../img/banner-bg.png);
		background-size: cover;
		background-repeat: no-repeat;
		background-position: center center;
	}
}

.info {
	font-size: 16px;

	h2 {
		text-transform: uppercase;
		font-size: 30px;
		span {
			color: $red;
		}
		@include media-breakpoint-down(sm) {
			text-align: center;
		}
	}
}

.dine {
	background-color: #f3f3f3;

	h2 {
		text-transform: uppercase;
		font-size: 30px;
		span {
			color: $red;
		}

		@include media-breakpoint-down(sm) {
			text-align: center;
		}
	}
}
